transformers>=4.40.0
datasets
nltk
jieba
accelerate
tqdm
SentencePiece
protobuf>=4.21.0
openai==0.28
matplotlib
Cython
Pillow>=11.0.0
sacrebleu
sentence-transformers
networkx
translate
tiktoken
eth-account>=0.10.0
reedsolo
bitstring
galois