transformers
datasets
nltk
jieba
accelerate
tqdm
SentencePiece
openai==0.28
matplotlib
Cython
Pillow==9.4.0
sacrebleu
sentence-transformers
networkx
translate
tiktoken
eth-account>=0.10.0
reedsolo
bitstring